*.mp4
*.pdf
amazon_baby.gl/
people_wiki.gl/
song_data.gl/
image_test_data/
image_train_data/
*.csv
*.zip
*.gl/
Other's-week-2-multiple-regression-assignment-2-blank.ipynb
Pintos/
*.gz
notMNIST_large/
notMNIST_small/
